<html>
  <head>
    <title><%= title%></title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/CSS/style.css" />
  </head>

  <body>
    <div id="container">
      <h1 id="Header"></i> Bug</h1>

      <% for (let i of bug){ %>
      <div class="data">
        <span id="name"><%= i.title %></span>
        <span id="name1"><%= i.label %></span>
        <span id="name2"><%= i.descr %></span>
        <span id="name3"><%= i.author %></span>
        <!-- <br> -->
      </div>

      <% } %>

      <!-- Form to Add Data -->

      <form id="form" action="/bug-create/id=<%= project.id%>" method="POST">
        <input
          class="input"
          type="name"
          name="title"
          placeholder="Enter bug title"
          required
        />
        <input
          class="input"
          type="text"
          name="label"
          placeholder="Enter bug Label"
          required
        />
        <input
          class="input"
          type="text"
          name="descr"
          placeholder="Enter bug desc"
          required
        />
        <input
          class="input"
          type="text"
          name="author"
          placeholder="Enter bug Author"
          required
        />
        <input type="hidden" name="of" value="<%= project.id %>" />
        <!-- <%= project %> -->

        <!-- Form to Add Data -->

        <button id="button" type="submit">Add Issue</button>
      </form>
      <form id="form" action="/bug-search" method="POST">
        <input
          class="input"
          type="name"
          name="title"
          placeholder="Enter bug title to find"
          required
        />

        <!-- <%= project %> -->

        <!-- Form to Add Data -->

        <button id="button" type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
