<html>
  <head>
    <title><%= title%></title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/CSS/style.css" />
  </head>

  <body>
    <div id="container">
      <h1 id="Header"></i>Search List</h1>

      <div class="data">
        <span id="name"><%= bugs.title %></span>
        <span id="name1"><%= bugs.label %></span>
        <span id="name2"><%= bugs.descr %></span>
        <span id="name3"><%= bugs.author %></span>
        <!-- <br> -->
      </div>
    </div>
  </body>
</html>
